<!DOCTYPE html>
<html>
<head>
    <title>World E-Commerce - Cadastro de {{titulo}}</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <h1>Bem Vindos à Tecnologia - {{titulo}}</h1>
    <p><a href="{{ url_for('index') }}">Página inicial</a></p>
    <form action="{{ url_for('criarcategoria') }}" method="post">
        <p><label for="nome">Nome</label></p>
        <p><input type="text" id="nome" name="nome" required></p>

        <p><label for="desc">Descrição</label></p>
        <p><input type="text" id="desc" name="desc"></p>

        <p><input type="submit" value="Cadastrar"></p>
        <button type="reset" class="btn btn-secondary">Limpar</button>
    </form>   

    <h4>Lista de {{titulo}}</h4>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for categoria in categorias %}
            <tr>
                <td>{{ categoria.nome }}</td>
                <td>{{ categoria.desc }}</td>
                <td><a href="{{ url_for('editarcategoria', id=categoria.id) }}">Editar</a></td>
                <td><a href="{{ url_for('deletarcategoria', id=categoria.id) }}">Deletar</a></td>
            </tr>         
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
