<!doctype html>
<html>
<head>
    <title>World E-Commerce - Edição de {{titulo}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="container mt-5">
        <h4 class="mb-4">{{ titulo }}</h4>
        <form action="{{ url_for('editarcategoria', id=categoria.id) }}" method="post">
            <div class="form-group">
                <label for="nome">Nome da Categoria:</label>
                <input type="text" class="form-control" id="nome" name="nome" value="{{ categoria.nome }}" required>
            </div>
            <div class="form-group">
                <label for="desc">Descrição:</label>
                <input type="text" class="form-control" id="desc" name="desc" value="{{ categoria.desc }}">
            </div>
            <button type="submit" class="btn btn-primary">Salvar Alterações</button>
            <a href="{{ url_for('categoria') }}" class="btn btn-secondary ml-2">Cancelar</a>
        </form>
    </div>

    <!-- Adicionando o JavaScript do Bootstrap e suas dependências -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>