<!DOCTYPE html>
<html>
<head>
    <title>World E-Commerce - Cadastro de {{titulo}}</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
</head>

<body>
    <div class="container">
        <div class="page-header">
            <h1>Bem Vindos a Tecnologia - {{titulo}}</h1>
        </div>
        <a href="{{ url_for('index') }}">Página inicial</a>
        <form action="{{ url_for('criarusuario') }}" method="post">
            <div class="form-group">
                <label for="user">Nome</label>
                <input type="text" class="form-control" id="user" name="user" required>
            </div>
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="text" class="form-control" id="email" name="email" required>
                <small id="emailHelp" class="form-text text-muted">E-mail é a sua chave para cadastro</small>
            </div>
            <div class="form-group">
                <label for="senha">Senha</label>
                <input type="text" class="form-control" id="senha" name="senha" required>
            </div>
            <div class="form-group">
                <label for="end">Endereço</label>
                <input type="text" class="form-control" id="end" name="end" required style="margin-bottom: 20px;">
            </div>
            <button type="submit" class="btn btn-primary" style="margin-right: 10px;">Cadastrar</button>
            <button type="reset" class="btn btn-secondary">Limpar</button>
        </form>

        <div class="mt-4">
            <div class="page-header">
                <h4>Lista de {{titulo}}</h4>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead class="thead-default">
                        <tr>
                            <th>Nome</th>
                            <th>E-mail</th>
                            <th>Senha</th>
                            <th>Endereço</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for usuario in usuarios %}
                        <tr>
                            <td>{{ usuario.nome }}</td>
                            <td>{{ usuario.email }}</td>
                            <td>{{ usuario.senha }}</td>
                            <td>{{ usuario.end }}</td>
                            <td><a href="{{ url_for('editarusuario', id=usuario.id) }}">Editar?</a></td>
                            <td><a href="{{ url_for('deletarusuario', id=usuario.id) }}">Deletar?</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
