<!DOCTYPE html>
<html>
<head>
    <title>World E-Commerce - Cadastro de {{titulo}}</title>
</head>

<body>
    <h1>Bem Vindos a Tecnologia {{titulo}}</h1>
    <form action="{{ url_for('criarusuario') }}" method="post">
        <p><label for="user">Nome</label></p>
        <p><input type="text" id="user" name="user"></p>

        <p><label for="email">E-mail</label></p>
        <p><input type="text" id="email" name="email"></p>

        <p><label for="senha">Senha</label></p>
        <p><input type="text" id="senha" name="senha"></p>

        <p><label for="end">endereço</label></p>
        <p><input type="text" id="end" name="end"></p>

        <p><input type="submit" value="cadastrar"></p>
    </form>   

<h4> Lista de {{titulo}}</h4>
<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Senha</th>
            <th>Endereço</th>
            <th>Deletar</th>
        </tr>
    </thead>
    <tbody>
        {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario.nome }}</td>
            <td>{{ usuario.email }}</td>
            <td>{{ usuario.senha }}</td>
            <td>{{ usuario.end }}</td>
            <td><a href="{{ url_for('editarusuario', id=usuario.id) }}">Editar?</a></td>
            <td><a href="{{ url_for('deletarusuario', id=usuario.id) }}">Deletar?</a></td>
        </tr>         
        {% endfor %}
    </tbody>
</table>
</body>
</html>