<!DOCTYPE html>
<html>
<head>
    <title>World E-Commerce - {{titulo}}</title>
</head>

<body>
    <h1>Bem Vindos a Tecnologia</h1>
    <form action="caduser" method="post">
        <p><label for="user">Nome</label></p>
        <p><input type="text" id="user" name="user"></p>

        <p><label for="email">E-mail</label></p>
        <p><input type="text" id="email" name="email"></p>

        <p><label for="Senha">Senha</label></p>
        <p><input type="text" id="Senha" name="Senha"></p>

        <p><label for="adress">endereço</label></p>
        <p><input type="text" id="adress" name="adress"></p>

        <p><input type="submit" value="cadastrar"></p>
    </form>   
</body>
</html>